<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Pocket</key>
	<dict>
		<key>url_scheme</key>
		<string>pocket://</string>
		<key>image</key>
		<string>pocket.png</string>
	</dict>
	<key>GroupMe</key>
	<dict>
		<key>url_scheme</key>
		<string>groupme://</string>
		<key>image</key>
		<string>groupme.png</string>
	</dict>
	<key>Foursquare</key>
	<dict>
		<key>url_scheme</key>
		<string>foursquare://</string>
		<key>image</key>
		<string>foursquare.png</string>
	</dict>
	<key>Spotify</key>
	<dict>
		<key>url_scheme</key>
		<string>spotify://</string>
		<key>image</key>
		<string>spotify.png</string>
	</dict>
	<key>Snapchat</key>
	<dict>
		<key>url_scheme</key>
		<string>snapchat://</string>
		<key>image</key>
		<string>snapchat.png</string>
	</dict>
	<key>Google Maps</key>
	<dict>
		<key>url_scheme</key>
		<string>comgooglemaps://</string>
		<key>image</key>
		<string>googlemaps.png</string>
	</dict>
	<key>Twitter</key>
	<dict>
		<key>url_scheme</key>
		<string>twitter://</string>
		<key>image</key>
		<string>twitter.png</string>
	</dict>
	<key>Facebook</key>
	<dict>
		<key>url_scheme</key>
		<string>fb://</string>
		<key>image</key>
		<string>facebook.png</string>
	</dict>
	<key>Instagram</key>
	<dict>
		<key>url_scheme</key>
		<string>instagram://</string>
		<key>image</key>
		<string>instagram.png</string>
	</dict>
</dict>
</plist>
